{
    "comment1": "This sample config file will be kept up-to-date with the default values on a best-effort basis.",
    "comment2": "It is not guaranteed to be up-to-date with the latest version of the code.",
    "comment3": "Refer to config.hpp for the list of options and default values",

    "display": {
        "width": 640,
        "height": 480,
        "hblank_length": 68,
        "vblank_length": 68,
        "frames_per_second": 60.0,
        "accelerated_rendering": true
    },
    "allow_unaligned_access": false
}
